#title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 5px;
  padding: 10px 0;

  font-size: large;
}

main {
  gap: 10px;
}

#posts {
  width: 100%;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;
  padding-inline-start: 0;
}

#write-button {
  align-self: flex-end;
}
