body {
  text-align: center;
}

main {
  gap: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

#mypage-form {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

#mypage-form .data {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;

  position: relative;
}

#mypage-form .data #data-email {
  font-size: small;
}
#mypage-form .data-title {
  font-weight: 600;
}

#profile-image {
  width: 30%;
  aspect-ratio: 1/1;

  border-radius: 50%;

  align-self: center;
}

#register-button {
  width: 100%;
  padding: 10px;
}

#login-button {
  background-color: transparent;
  color: black;
}

#back-button {
  position: absolute;
  left: 30%;
  font-size: large;
}

.error-message {
  visibility: hidden;
}

input {
  width: 100%;
}
