.comment {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
}
.buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.comment #meta {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.comment #meta #image {
  width: 30px;
  aspect-ratio: 1/1;
  margin-right: 10px;

  background-color: #d4d4d4;
  border-radius: 50%;
}

.comment #meta #data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.comment #meta #data #data-title {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment #meta #data .data-context {
  font-size: 15px;
  margin-top: 12px;
}

.comment #meta #username {
  margin-right: 24px;

  font-weight: 700;
  font-size: 15px;
}

.comment #meta #time {
  font-weight: 400;
  font-size: 14px;
}

.comment #comment-buttons {
  position: absolute;
  right: 0;
  top: 15px;
}
.comment #comment-buttons button {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 6px;
}
